<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <title>Emotion analysis on photo</title>
  </head>
  <body>

 
<div class="pos-f-t sticky-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <h5 class="text-dark h4">Happiness Level</h5>
      <span class="text-muted">This webapp predicts happiness level of the face from uploaded photo.Enjoy predicting!</span>
    </div>
  </div>
  <nav class="navbar sticky-top navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand mb-0 h1">Happiness Level</span>
    
  </nav>
</div>




<!--
   <nav class="navbar sticky-top navbar-dark bg-primary">
       <row>
           <div class="mx-auto" style="width: 200px;">
                <span class="navbar-brand mb-0 h1">Happiness Level</span>
           </div>
       </row>
   </nav>   -->
   <!-- <h4>This Python Flask application demonstrates App Engine Flexible, Google Cloud
Storage, Datastore, and the Cloud Vision API.</h4> -->

<br>


<div class="container">
  

  <div class="row border border-primary m-1">
    <div class="col ">
    <!--  <form action="upload_photo" method="POST" enctype="multipart/form-data">
      Upload File: <input type="file" name="file"><br>
      <input type="submit" name="submit" value="Submit">
     </form> -->

     <form class="p-1" action="upload_photo" method="POST" enctype="multipart/form-data">
      <div class="form-group">
       Upload Photo: <input id="file" type="file" accept="image/*" name="file" onchange="Filevalidation()"><br>
      </div>
      
      <!-- <input type="file" accept="image/*" class="btn btn-primary mb-2" name="submit" value="Submit"> -->
      <button id="upload_button" type="submit" class="btn btn-primary mb-2">Confirm identity</button> 
     </form>
     
    </div>
   </div>
   
<br>
 <h6>Uploads</h6>
 <div class="row m-2">
       
 
  {% for image_entity in image_entities %}
    
      
        

         <div class="card m-1" style="width: 22rem;">
         <img class="card-img-top img-thumbnail" src="{{image_entity['image_public_url']}}" alt="Card image cap">
         <div class="card-body">
         <h5 class="card-title">Joy Likelihood</h5>
         <p class="card-text badge badge-success"> {{image_entity['joy']}}</p>
         </div>
         <div class="card-footer">
         <small class="text-muted">{{image_entity['blob_name']}} was uploaded {{image_entity['timestamp']}}</small>
         </div>
         </div>
    
         
  {% endfor %}
       </div>
</div>

</div>

    <script> 
    Filevalidation = () => { 
        const fi = document.getElementById('file'); 
        const uploadButton = document.getElementById("upload_button");
        // Check if any file is selected. 
        if (fi.files.length > 0) { 
            for (const i = 0; i <= fi.files.length - 1; i++) { 
  
                const fsize = fi.files.item(i).size; 
                const file = Math.round((fsize / 1024)); 
                // The size of the file. 
                if (file >= 20000) { 
                    alert("File too Big, please select a file less than 4mb"); 
                    uploadButton.disabled = true;
                } /*else if (file < 2048) { 
                    alert( 
                      "File too small, please select a file greater than 2mb"); 
                      uploadButton.disabled = true
                } */else { 
                    uploadButton.disabled = false;
                    document.getElementById('size').innerHTML = '<b>'
                    + file + '</b> KB'; 
                } 
            } 
        } 
    } 
</script> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
  </body>
</html>
